.container{
    width: 80%;
    margin: 5rem auto;
    background: rgb(202, 200, 200);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 2rem;
}
.hhh{
    margin: 5rem;
}


.MuiDialog-container{
    background-color: aqua;
}

