body{
    background-color: rgb(219, 191, 246);
}
.title{
    font-size: 4rem;
    color: brown;
}
.string-conteiner{
    border: 2px solid black;
    border-radius: 1rem;
    background-color: bisque;
}
hr{
    margin: 2rem auto;
}
.string-text{
    font-size: 1.5rem;
    color: blue;
}
.render-title{
    font-size: 4rem;
    color: brown;
}
.render-text{
    font-size: 1.5rem;
}
.render-btn{
    width: 15rem;
    height: 3rem;
    background: green;
    border-radius: 2rem;
    border: none;
    font-size: 1.5rem;
    color: antiquewhite;
    text-transform: uppercase;
}
